body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

input[type="text"], input[type="url"], textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#qrcode {
    margin-top: 20px;
}

#logoInput, #utmInputs {
    display: none;
}

label[for="logoInput"], label[for="utmInputs"] {
    cursor: pointer;
    color: #007bff;
}
