body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
}

select, textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#qrcode {
    margin-top: 20px;
}

#logoInput {
    display: none;
}

label[for="logoInput"] {
    cursor: pointer;
    color: #007bff;
}
